.b-footer{
	width: 100%;
	display: inline-block;
	background: $background-three;
	p{color: #9095a2};
	a:hover{
		color: $primary-hover;
		transition: all 0.3s ease;
		cursor: pointer;
	}
}

.b-footer--center{
	display: block;
	max-width: $global-width;
	margin: 0 auto;
	text-align: center;
}

@media(max-width: $tablet-size){
	.b-footer--center{
		margin: $mobile-margin;
	}
}

.b-share-buttons{
	font-size: 1.2rem;

	li{
		a{color: $primary-color;}
	}
}

.b-share-buttons--horizontal{
	li{
		display: inline-block;
		a{padding: 0 1rem 0 1rem;}
	}
}

.b-footer__signature{
	color: $primary-color;	
}