//Page constraints
$global-width: 70rem;

//font-awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

//Colours
$primary-color: #5BC0C3; 
$background-one: #F1F2F5;
$background-two: #5D5E61;
$background-three: #454850;
$black: #000;
$white: #fff;